.whyus{
    display: flex;
    flex-direction: row;
    padding: 10px 50px;
}

.whyus-motto{
    width: 50%;
}

@media screen and (max-width:490px) {

    .whyus{
        display: flex;
        flex-direction: column;
    }
    
}