.productListing-container {
    width: 1320px;
    display: flex;
    flex-direction: row;
    margin: 0px 80px;
    padding: 112px 0px;
    justify-content: space-between;
}



.productListing-text {
    padding: 20px;
}

.listing-button{
    background-color: #2F2F2F !important;
}

.productListing-items{
    display: flex;
    justify-content: space-between;

}
.productListing-intro{
    justify-self: self-start;
}
.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    justify-self: center;
}
.product-item strong{
    color: #2F2F2F ;
}

.product-img{
    height: 300px;
    width: auto;
    
}
.icon-cross{
    color: #2F2F2F;
}

.icon-cross :hover{
    display: block;
    color: black;
}
