@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    font-family: "Inter", sans-serif;
}

h2 {
    font-size: 32px;
    color: #2F2F2F;
}

h3 {
    font-size: 14px;
    color: #2F2F2F;
}

p {
    font-size: 14px;
    color: #6a6a6a;
}

/* To target all span elements */
span {
    font-size: 14px;
    color: #6a6a6a;
}
